/* QUADRADO DO PRODUTO */
.item{
  width:200px;
  height:200px;
  border: solid  1px;
  border-radius: 5px;
  margin-right: 2px;
}
/* BACKGROUND PREÇO */
.item2{
  width: 90px;
  height: 40px;
  position: absolute;
  bottom: 0;
  /* margin-bottom: 5px; */
  /* margin-right: 5px; */
  right: 0;
}
/* PREÇO */
#por{
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-bottom: 15px; */
  margin-right: 2px;
  font-family: arial black;
  color: red;
}
/* FOTO */
.logo{
  max-width: 80%;
  max-height: 50%;
  overflow: hidden;
}
/* TITULO PRODUTO */
.tp{
  text-align: center;
  margin-top: 10px;
  font-weight: 900;
}
checkbox{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
a{
  color: black;
  font-weight: bold;
}

